/* CUSTOM PROPERTIES */

:root {
	--custom-property: value;
}

/* MODIFIERS */

/* Clearfix for containing floats */
.--clearfix::before,
.--clearfix::after {
	content: '';
	display: table;
}

.--clearfix::after {
	clear: both;
}

/* Hide element visually and from screen readers (Maintains layout) */
.--invisible {
	visibility: hidden;
}

/* Hide element visually and from screen readers (Changes layout) */
.--hidden,
[hidden] {
	display: none !important;
}

/* Hide element visually but show to screen readers (Changes layout) */
.--visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 0.1rem;
	margin: -0.1rem;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 0.1rem;
}

/* Make visually hidden elements focusable via keyboard navigation */
.--visually-hidden.focusable:active,
.--visually-hidden.focusable:focus {
	clip: auto;
	height: auto;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/* Make element unselectable */
.--forced-unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Force element to be selectable with one click */
.--forced-selectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* MEDIA QUERIES */

/* Print Style */
@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}
}

@media print,
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi),
	(-webkit-min-device-pixel-ratio: 1.25) {
	/* Style Adjustments for High Resolution Devices */
}

/* Per Screen Width Styles */
@media only screen and (min-width: 32rem) {
	/* Style Adjustments for Screens up to 320px */
}
@media only screen and (min-width: 60rem) {
	/* Style Adjustments for Screens up to 600px */
}
@media only screen and (min-width: 76.8rem) {
	/* Style Adjustments for Screens up to 768px */
}
@media only screen and (min-width: 99.2rem) {
	/* Style Adjustments for Screens up to 992px */
}
@media only screen and (min-width: 120rem) {
	/* Style Adjustments for Screens up to 1200px */
}

/* HOVER EVENTS */

element:link {
	/* Style Adjustments if Unvisited */
}

element:visited {
	/* Style Adjustments if Visited */
}

element:hover {
	/* Style Adjustments if Hovered */
}

element:active {
	/* Style Adjustments if Clicked */
}
